
.opts{
    z-index: 1;
    bottom: 0;
    width: 100%;
    opacity: 90%;
}

.opts2{
    z-index: 1;
    top: 0;
    width: 100%;
    opacity: 90%;
}

.center{

    margin: auto;
}

.slides{
    width: 100%;
}

.slide{
    height: 100%;
}

