.dere {
    position: relative;
    left: 6%;
}

.mar {
    position: relative;
    left: 14%;
}

h3,
h3,
h6,
h1 {
    margin: 5px;
}

.fo {
    font-size: 30px;
}

h5 {
    margin-top: 6px;
}

.wei {
    font-weight: 600;
}